{% extends "base.html" %} {% block content %}

<div class="container mt-3">
<h5>Preferred Currency</h5>
<hr />
{% include "partials/_messages.html" %}
  <form action="{% url 'preferences' %}" method="post">
    {% csrf_token %}
    <div class="input-group">
      <select
        name="currency"
        class="form-select"
        id="inputGroupSelect04"
        aria-label="Example select with button addon"
      >
        {% if userPreference.currency %}
          <option name="currency" selected value="{{userPreference.currency}}">{{userPreference.currency}}</option>
        {% endif %}
        {% for currency in currencies %}
            <option name="currency" value="{{currency.name}}">{{currency.name}} - {{currency.value}}</option>
        {% endfor %}
      </select>
      <button class="btn btn-outline-secondary" type="submit" value="save">Save</button>
    </div>
  </form>
</div>
{% endblock content %}
